body {
  margin: 0;
}
#header {
  color: brown;
  z-index: 9;
  position: fixed;
  width: 100%;
  text-align: right;
  & .header-logo {
    margin: 5px 20px;
  }
}
.main-img2 {
  max-width: 50%;
}

.main-img1 {
  max-width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
}

.bg-color {
  background-color: #4682b4;
  height: 600px;
  width: 40%;
  float: left;
  position: relative;
}
.philosophy {
  clear: both;
  margin-top: 10px;
  padding: 20px;

  
}
.about{
  background-color: #ec6013;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  float: right;
  & p{
    position: absolute;
    top: 33%;
    left: 34%;    
    font-size: 18px;
    color: white;
  }
}
.new_collection{
  clear: both;
  & img{
    width: 50%;
    
  }
}